body {
    margin: 0;
    padding: 0;
    background-image: url('background-1.png');
    background-attachment: fixed;
    background-size:cover;
    font: 12pt "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/*NAVBAR PROPERTIES*/

.logo {
    height:50px;
    transform: translate(-30%,15%);
}

.logo_center{
    height:50px;
    transform: translate(-30%,15%);
}

.nav_bar{
    margin-left: 0%;
}

.book {
    margin: 0;
    padding: 0;
    background-color: 161616;
    font: 12pt "Tahoma";
}



/*SIDEBAR PROPERTIES*/

.sidebar {
    height: 100%;
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.637);

    padding-top: 5em;
    padding-right: 2%;
    padding-bottom: 5em;
    padding-left: 2%;
    border: 1px rgba(152, 208, 232, 0.688) solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(152, 208, 232, 0.688);

    overflow: auto;

}

.sidebar_inputs{
    background-color: rgb(110, 178, 237);
    padding: 1em 1em 0em 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(152, 208, 232, 0.688);
    
}

.section{
    background-color: rgba(255, 255, 255, 0.736);
    padding: 2em 2em 2em 2em;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 2px rgba(152, 208, 232, 0.688);
}

::placeholder{
    color: rgba(73, 166, 254, 0.794);
    font-size: 12px;
}


/*MATERIALISE CSS INPUT FIELD COLOR CHANGE*/

/* label color */
.input-field label {
    color: rgb(0, 53, 102);
    font-size: 12px;
}

/*underline and input text color*/

.input-field input {
    color: rgb(0, 53, 102);
    border-bottom: 1px solid rgb(0, 53, 102) !important;
    box-shadow: 0 1px 0 0 rgb(126, 126, 126);
}

/* label focus color */
.input-field input:focus + label {
color: rgb(0, 53, 102) !important;
}



/* label underline focus color */
.input-field input:focus {
border-bottom: 1px solid rgb(0, 53, 102) !important;
box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input.valid {
border-bottom: 1px solid rgb(0, 53, 102);
box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input.invalid {
border-bottom: 1px solid #000;
box-shadow: 0 1px 0 0 #000;
}

.input-field .prefix{
    color: rgb(0, 53, 102);
    font-size: 1.5em;
}
.input-field .prefix.active {
    color: rgb(0, 92, 118);
}


/*RADIO BUTTON COLOUR CHANGE*/
[type="radio"]:checked+span:after {
    background-color: rgb(25, 122, 213) !important;
}
  
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after {
    border: 2px solid rgb(246, 243, 239) !important;
}
.radio_text{
    color: rgb(25, 122, 213);
}
input[type="month"] {
    font-size: 14px;
    background-color: #ffffff5b;
    color: rgb(0, 53, 102);
}
  
/* icon prefix focus color 
*/




/*
SCROLL BAR
}
*/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 0px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122, 176, 217)),
									   color-stop(0.72, rgb(73, 143, 189)),
									   color-stop(0.86, rgb(25, 122, 213)));
}

/*============================RESUME LAYOUT STYLES============================*/

/*TEMPLATE ICONS*/
.template_icons{
    height: 70%;
    width: 70%;
}

.template_icons:hover{
    border: outset;
    box-shadow:0px 12px 22px 1px rgb(219, 244, 246);
}

/*RESUME PAGE PROPERTIES*/

#page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #0000003d solid;
    border-radius: 5px;
    background: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6), 0 0 20px rgba(152, 208, 232, 0.688)
    0 0 20px rgba(0, 0, 0, 0.1), 0 0 20px rgba(246, 197, 111, 0.908)
    ;

    overflow: hidden;
    
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    #page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}


/*============STYLE1=============*/

.subpage_style_1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;  
    background: #eee;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
}


.r1_header{
    margin-bottom: 30px;
}
#r1_full_name{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 400;
}

.contact-info {
    margin-bottom: 20px;
}

#r1_email ,
#r1_phone,
#r1_address,
#r1_website {
    color: #999;
    font-weight: 500;
} 

#separator {
    height: 10px;
    display: inline-block;
    color: #999;
    margin: 0px 10px;
}

#r1_desc{
    
    display: inline-block;
    margin-right: 10px;
    text-align: justify;
}

.r1_details{
    line-height: 20px;
}

.r1_section {
    margin-bottom: 40px;  
}
  
.r1_section:last-of-type {
    margin-bottom: 0px;  
}

.r1_section_title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.r1_left ,
.r1_right {
    vertical-align: top;
    display: inline-block;
}

.r1_left {
    width: 60%;    
}

.r1_right {
    text-align: right;
    width: 39%;   
}

.sub-sec-info-heading{
    font-weight: bold;
}

.r1_skill_items{
    margin-bottom: 10px;  
}

.r1_skills_item.r1_right[input] {
display: none;
}

.r1_skills_item.r1_right[label]{
    display: inline-block;  
    width: 20px;
    height: 20px;
    background: #C3DEF3;
    border-radius: 20px;
    margin-right: 3px;
}


/*============STYLE2=============*/
:root {
    --dark-green: #9cc675;
    --dark-yellow: #e89a3d;
    --extra-light-brown:#fdf0d7;
    --light-brown: #ecd5ab;
    --dark-brown:#915b40;
    --light-yellow:#f8e3a8;
    --light-red:#f3ac99;
    --light-teal:#a6c8cc;
    --light-gray:#ddd5d6;

    --theme-color:#e89a3d;
}

.r2_resume_container{
    font-family: 'Lato', sans-serif !important;
}


.r2_left ,
.r2_right {
    padding: 15px;
  	border-radius: 10px;
    vertical-align: top;
    display: inline-block;
}

.r2_left {
    width: 30%;   
    background: #f1f1f1; 
    text-align: center;
    height: 100%;
}

.r2_right {
    text-align: right;
    width: 69%;    
    background: #f1f1f1;
    height: 100%;
}

#r2_profile_pic {
    --size: 180px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    background:var(--light-brown);
    transition: .5s ease;
    backface-visibility: hidden;
    border: #000;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#r2_full_name{
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.r2_text_muted{
    color: #828282;
}
.r2_info_detail{
    line-height: 25px;
    font-size: 14px;
    font-weight: 100;
}
.r2_info_head{
    font-weight: 500;
    color: #54AFE4;
}

.r2_title_line{
    font-size: 25px;
    border-bottom: 1px solid #b9b9b9;
  	padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.r2_title_line:before {
    content: '';
    width: 65px;
    height: 2px;
    background: var( --theme-color);
    position: absolute;
    margin-top: 44px; 
    /*title_height+padding-bottom-(line-height/2) = 25+15-1 */
}

.r2_title_line.center{
    text-align: center;
}

/*-=========- TRANSITION*/


.logo_center {
    height:50px;
    transform: translate(-30%,15%);
}

.main-container{
    text-align: center;
    background-color: rgba(190, 224, 255, 0.878);
    margin: 0em 1em 0em 1em;
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(152, 208, 232, 0.688);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(152, 208, 232, 0.688);

    overflow: auto;
}

.sub-body{
    background-color: rgba(250, 253, 255, 0.533);
    margin: 1em 1.5em 1em 1.5em;
    padding: 2em 1em 1em 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(152, 208, 232, 0.688);
}

.sub-heading{
    text-align: left;
    font-size: 4.5em;
}

.percent-int{
    position: relative;
    text-align: center;
    line-height: 10px;
    transform: translate(30%,15%);

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    column-gap:0px;
    margin: auto 0;
    width: 100%;
}
.container .box h2{
    margin-top: 1em;
    font-size: 2em;
}

#box1 h2{
    margin-top: .5em;
    font-size: 2.5em;
}

#box1{
    grid-column: 2;
    grid-row: 1;
}

#box2{
    grid-column: 1/3;
    grid-row: 2;
}
#box3{
    grid-column: 2/4;
    grid-row: 2;
}
